<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<form action="/submit" method="post" >

    Name : <input type="text" name="name" placeholder="name"><br>
    Gender : <input type="text" name="gender" placeholder="gender"><br>
    Age : <input type="text" name="age" placeholder="age"><br>
    
    <input type="submit">

</form>

</body>
</html>